<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="SmartGuide"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- Mapbox token -->
        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1Ijoia2Fubm91IiwiYSI6ImNtb2V1NGFqaDBoaXoycnNhMHNkdnA2anoifQ.hOWlm_mtUYu_Fw896APNJw"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>