# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Gradle/Build related
.gradle/
*.apk
*.aab

# The .vscode folder contains configure files and settings for VS Code.
# It is recommended to not commit it to version control unless you have
# specific settings you want to share across the team.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
.metadata
**/.symlinks/
**/ios/Pods/
**/macos/Pods/
**/.fvm/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.cmake

# Android/Local configuration
local.properties

# Generated plugins
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.swift
generated_plugin_registrant.cc
generated_plugin_registrant.h
generated_plugins.cmake

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/venv/
**/.env/
**/env/
**/.venv/